
<h3 style="padding:0px">Listagem Im처veis</h3><br />
<%if @homes.empty?%>
	<div class="alert alert-warning">N찾o existem im처veis cadastrados</div>
<%else%>
	<div id="homes"><%= render 'homes' %></div>
<%end%>
<br />
<%= link_to 'Novo Im처vel', new_admin_home_path%>
