<div class="sideBySide">
	<%=f.input :type_contact, collection: @type_contacts, :input_html=>{:required => true}%>
	<%= f.input :contact_value, :input_html => {:required => true}%>
	<span class="remove" style="">
		<%= link_to_remove_fields "", f, "Telefone de Contato"%>
	</span>
</div>


			   
